#img-container {
  width: 21rem;
  height: 18rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  align-content: flex-start;
}

#inspo-board-header {
  margin: 2rem 2rem 1rem 2rem;
  display: flex;
  justify-content: center;
}

#inspo-board {
  height: 375px;
  width: 95%;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.upload-btn {
  position: absolute;
  top: 34px;
  right: 36px;
}

.profile-form,
.view-profile.show {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.profile-label,
.save-profile {
  margin: 1rem 0;
}

.profile-info {
  margin-top: 1rem;
}

.profile-input {
  width: 95%;
  margin-left: 0.5rem;
  font-size: 15px;
  color: gray;
}

span.profile-input {
  margin: 1rem;
}

input.profile-input {
  border: none;
  caret-color: #199095;
  background-color: rgb(247 247 247);
}

.hidden {
  display: none;
}

.profile-btn-div {
  display: flex;
  justify-content: flex-end;
  margin: 5rem 0;
}

.home-header {
  height: 12rem;
  margin: 0.5rem;
  background-color: rgb(211, 211, 211);
  padding: 1rem 0;
  display: flex;
}

.couple-names {
  padding: 0 2rem;
  font-family: 'Tangerine', cursive;
  font-weight: 100;
  font-size: 2rem;
  color: #737373;
}
