#img-container {
  max-width: 50rem;
  height: 60vmax;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  align-content: flex-start;
}

#inspo-board-header {
  display: flex;
  justify-content: center;
  margin: auto;
}

#inspo-board {
  height: 70vh;
  max-width: 50rem;
  margin: 0.5rem auto 0;
}

#upload-form {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.profile-form,
.view-profile.show {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 80rem;
  margin: auto;
}

.profile-label,
.save-profile {
  margin: 1rem 0;
  font-size: 3vmin;
}

.profile-info {
  margin-top: 1rem;
  font-size: 3vmin;
}

.profile-input {
  width: 95%;
  font-size: 2vmax;
  color: gray;
}

span.profile-input {
  margin: 1rem;
}

input.profile-input {
  border: none;
  caret-color: #199095;
  background-color: rgb(247 247 247);
}

.hidden {
  display: none;
}

.profile-btn-div {
  display: flex;
  justify-content: flex-end;
  margin: 5rem 0;
}

.home-header {
  height: 12vmax;
  margin: 0.5rem;
  padding: 1rem 0;
  display: flex;
  position: relative;
  background-color: #e1eff0;
}

.couple-names {
  margin: 0 auto;
  font-family: 'Tangerine', cursive;
  font-weight: 100;
  font-size: 9vmin;
  color: #5c5c5c;
  z-index: 1;
  display: flex;
  align-items: center;
}

.guest-row {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  font-size: 3vmin;
}

#guest-modal,
#budget-modal {
  display: none;
}

#guest-modal-box,
#budget-modal-box {
  max-width: 250px;
  display: flex;
  margin: auto;
  position: relative;
  top: 14vh;
  height: 45vh;
  min-height: 300px;
}

#budget-modal-box {
  height: 13rem;
}

#guest-container {
  overflow: scroll;
  height: 60vh;
  margin: 1rem 0;
}

.view-options {
  /* display: flex;
  justify-content: space-evenly; */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 1rem;
}

.number-guests {
  margin: 2rem;
}

.budget-div {
  height: 7.5rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
}

.budget-total {
  display: block;
  margin: 1rem 0;
}

.edit-budg-icon {
  padding: 0 0.5rem;
}

.budget-form {
  margin-top: 1rem;
}

.budget-input {
  display: block;
}

.chart {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 3rem;
  top: 8rem;
}

.budget-row {
  flex-basis: calc(100% / 3);
}

.budget-item-div {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  background-color: #fafafa;
  box-shadow: 0 1px 3px grey;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(92, 92, 92);
}

div#budget-container {
  overflow: scroll;
  height: 21rem;
}

.estimate {
  color: rgb(41, 168, 162);
}

img.header-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  top: 0;
  opacity: 45%;
}

.days-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(137 204 200);
  height: 9vmin;
  width: 37vmin;
  margin: 4vmin auto;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 3px 4px #318883;
}

@media only screen and (min-width: 768px) {
  .logo,
  .nav-logo {
    min-width: 4rem;
    min-height: 4rem;
  }
}

@media only screen and (min-width: 992px) {
  .logo,
  .nav-logo {
    min-width: 5rem;
    min-height: 5rem;
  }
}

@media only screen and (min-width: 992px) {
  .logo,
  .nav-logo {
    min-width: 6.5rem;
    min-height: 6.5rem;
  }
}

@media only screen and (min-width: 375px) {
  #guest-modal-box {
    max-width: 300px;
  }
}

@media only screen and (min-width: 480px) {
  #guest-modal-box {
    max-width: 450px;
  }
}

@media only screen and (min-width: 1024px) {
  #guest-modal-box {
    max-width: 500px;
  }
}
