#inspo-board {
  background-color: rgba(207, 207, 207, 0.5);
}

#inspo-board-header {
  font-family: 'Montserrat', sans-serif;
  color: rgb(176, 176, 176);
  font-size: 1.25rem;
}

.upload-icon {
  color: white;
  font-size: 1.2rem;
  text-shadow: 0 2px 3px #d2d2d2;
}

.upload-icon:hover {
  font-size: 1.3rem;
}

.upload-btn {
  background-color: rgb(232, 232, 232);
  border: none;
  cursor: pointer;
}

.header {
  height: 100px;
  background-color: #e1eff0;
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 1rem;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 3px 5px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-logo {
  position: absolute;
  left: 3rem;
  top: 1.5rem;
}

#current-page {
  font-family: 'Stalemate', cursive;
  font-size: 3rem;
  color: rgb(87, 85, 83);
  margin: 0 4rem;
}

.logo-text,
.logo-header {
  font-family: 'Stalemate', cursive;
  text-decoration: none;
  color: #979595;
  cursor: pointer;
  border: none;
  background-color: white;
}

.guest-footer {
  background-color: #ececec;
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 1rem 2rem;
  width: 100%;
  justify-content: space-between;
}

.add-guest-text {
  color: red;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  margin: 0;
}

.add-guest-btn {
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 50%;
  background-color: rgb(226, 40, 40);
  cursor: pointer;
}

.add-guest-icon {
  color: white;
  font-size: 12px;
  text-shadow: 0 2px 3px #d2d2d2;
}

#guest-modal {
  display: none;
}

#guest-modal-box {
  background-color: rgb(255, 255, 255);
  width: 80%;
  display: flex;
  margin: auto;
  position: relative;
  top: 10rem;
  height: 17rem;
}

#guest-form {
  width: 300px;
}

#first-name {
  margin: 1rem 0.5rem 1rem 1rem;
}

#last-name {
  margin: 1rem 1rem 1rem 0.5rem;
}

.modal-btns {
  margin: 1.5rem 1rem 0.5rem;
  height: 10px;
}

.guest-btn {
  border: none;
  outline: none;
  color: #289aec;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.guest-btn.save {
  position: absolute;
  right: 15px;
}

.divider {
  margin: 0.8rem 0;
  background-color: #eaeaea;
  height: 3px;
}

.add-guest-label {
  margin: 0 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

input {
  width: 8rem;
  padding: 0.4rem;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #d0d0d0;
}

.inputs {
  display: flex;
}

#modal-open {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.76);
}

.image {
  object-fit: cover;
  overflow: hidden;
  flex-basis: calc(100% / 3);
  height: calc(100% / 3);
  padding: 0.2rem;
  box-shadow: 0 5px 10px #cdcdcd;
}

.status-options {
  display: flex;
  flex-direction: column;
}

label.radio-label {
  margin: 0.3rem 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7rem;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px #d3d3d3;
  font-weight: 600;
}

input[type="radio"] {
  position: absolute;
  right: 0;
  opacity: 0;
}

label.invited {
  background-color: #c9eaff;
  color: #108a9b;
}

label.attending {
  background-color: #b4ffbf;
  color: #01831d;
}

label.not-attending {
  background-color: #ffdcdc;
  color: #ad1111;
}

i.false {
  display: none;
}

i.true {
  position: absolute;
  right: 3rem;
  font-size: 1rem;
  color: white;
}

.radio-label.true {
  box-shadow: 0 2px 5px #939393;
  font-size: 0.8rem;
}

.profile-form,
.view-profile {
  font-family: 'Montserrat', sans-serif;
}

.edit-profile,
.save-profile {
  width: 6rem;
  padding: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: white;
  border: none;
  background-color: #1b9096;
  outline: none;
  border-radius: 16px;
  cursor: pointer;
}

.divider.profile {
  height: 1px;
}

.nav-open {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat', sans-serif;
}

.nav-close {
  display: none;
}

.nav-box {
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

a.nav-links {
  margin: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
}
