#inspo-board {
  height: 450px;
  width: 95%;
  background-color: rgba(229, 229, 229, 0.5);
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#inspo-board-header {
  margin: 2rem 2rem 1rem 2rem;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(185, 185, 185);
  font-size: 1.25rem;
}

.upload-icon {
  color: white;
  font-size: 1.2rem;
  text-shadow: 0 2px 3px #d2d2d2;
}

.upload-icon:hover {
  font-size: 1.3rem;
}

.images-container {
  padding: 1rem;
  height: 80%;
}

.upload-btn {
  position: absolute;
  top: 34px;
  right: 36px;
  background-color: rgb(243, 243, 243);
  border: none;
  cursor: pointer;
}

.header {
  height: 100px;
  background-color: #e1eff0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  background-color: white;
  width: 50px;
  height: 50px;
  left: 15px;
  top: 15px;
  border-radius: 50%;
  box-shadow: 0 3px 5px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#current-page {
  font-family: 'Stalemate', cursive;
  font-size: 2.5rem;
  color: rgb(87, 85, 83);
}

.logo-text {
  font-family: 'Stalemate', cursive;
  text-decoration: none;
  color: #979595;
  cursor: pointer;
}

.guest-footer {
  height: 60px;
  background-color: #ececec;
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 1rem 2rem;
  width: 100%;
  justify-content: space-between;
}

.add-guest-text {
  color: red;
  font-family: 'Montserrat', sans-serif;
}

.add-guest-btn {
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 50%;
  background-color: rgb(226, 40, 40);
}

.add-guest-icon {
  color: white;
  font-size: 12px;
  text-shadow: 0 2px 3px #d2d2d2;
}
